#menu {
	float: right;
	left: -50%;
	position: relative;
}

#menu ul {
	width: 500px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #848484;
}

#menu li {
	float: left;
}

#menu li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

#menu li a:hover {
	background-color: #2e2e2e;
}

#menu li a:active {
	background-color: #08088a;
}

button {
	color: white;
	background-color: #848484;
}
